# Configuration for assembler programs which don't need a special setup

FEATURES {
    STARTADDRESS: default = $0803;
}
SYMBOLS {
    __EXEHDR__:    type = import;
}
MEMORY {
    ZP:     file = "",               start = $0000,         size = $00FF;
    HEADER: file = %O,               start = %S - 4,        size = $0004;
    MAIN:   file = %O, define = yes, start = %S,            size = $C000 - %S;
    BSS:    file = "",               start = __MAIN_LAST__, size = $C000 - __MAIN_LAST__;
}
SEGMENTS {
    ZEROPAGE: load = ZP,     type = zp,  optional = yes;
    EXEHDR:   load = HEADER, type = ro;
    CODE:     load = MAIN,   type = rw;
    RODATA:   load = MAIN,   type = ro,  optional = yes;
    DATA:     load = MAIN,   type = rw,  optional = yes, align = $100;
    BSS:      load = BSS,    type = bss, optional = yes, define = yes, align = $100;
    # user defined segments
    TILES:    load = MAIN,           type = ro,  align = $100;
}
